
html {
    font-size: 16px;
}

body {
    font-family: "Google Sans", sans-serif;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0rem;
    line-height: 1.42857143;
    border-radius: 1.25rem;
    transition: color .28s cubic-bezier(.4,0,.2,1), background-color .28s cubic-bezier(.4,0,.2,1), border-color .28s cubic-bezier(.4,0,.2,1), shadow .28s cubic-bezier(.4,0,.2,1);

    &:not(.btn-link):hover {
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    }

    &.btn-link {
        position: relative;
        text-decoration: none;
        outline: none;
        box-shadow: none;

        &.btn-link-mini {
            height: auto;
            padding: 0.2rem 0.5rem;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1.25rem;
            background-color: var(--bs-blue);
            opacity: 0;
        }

        &:hover::after {
            opacity: 0.05;
        }

        &:active::after {
            opacity: 0.15;
        }
    }
}

.form-control,
.form-select {
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

.input-group-text {
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

.field-validation-error {
    width: 100%;
    margin-left: 0;
    font-size: .875em;
    color: var(--bs-form-invalid-color);

    &:not(:empty) {
        margin-top: .25rem;
    }
}

.field-validation-valid {
    width: 100%;
    margin-left: 0;
    font-size: .875em;
    color: var(--bs-form-valid-color);

    &:not(:empty) {
        margin-top: .25rem;
    }
}

.nav-user-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    > .user-image {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }

    > .dropdown-menu {
        left: unset;
        right: 0;
    }
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

    > .actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.page-content {
    margin-top: 2rem;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.course-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #1d1d1e;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: 1rem;

    > .card-img {
        height: 8rem;
        background-color: #4499dc;
        border-radius: 0.5rem;
    }

    > .card-body {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        > .name {
            margin-bottom: 0.2rem;
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 1.75rem;
        }

        > .code {
            font-size: 0.8125rem;
        }
    }

    &:hover {
        > .card-img {
            background-color: #3076AD;
        }

        > .card-body > .name {
            text-decoration: underline;
        }
    }
}

.course-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 16rem;
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    background-color: #4499dc;
    border-radius: 1rem;

    > .actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
    }

    > .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .info {
            > .name {
                font-size: 2.25rem;
                font-weight: 500;
                line-height: 2.75rem;
            }

            > .code {
                font-size: 1.375rem;
                font-weight: 400;
                line-height: 1.75rem;
            }
        }

        > .invite-code {
            display: flex;
            flex-direction: column;
            width: 12rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: white;

            > label {
                font-size: .875rem;
                font-weight: 500;
                line-height: 1.25rem;
                color: #3c4043;
            }

            > div {
                font-size: 1.375rem;
                font-weight: 500;
                line-height: 1.75rem;
                color: #3076AD;
            }
        }
    }
}

.course-nav {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    --bs-nav-link-color: #4499dc;
    --bs-nav-link-hover-color: #3076AD;
    --bs-nav-pills-link-active-bg: #4499dc;
}

.course-user-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    > .user-image {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
    }
}
