@model LoginFormCredentialModel

@{
	Layout = "_Login";
	ViewData["Title"] = "Đăng Nhập";
	ViewData["Description"] = "Sử dụng tài khoản bạn đã đăng kí với hệ thống để tiếp tục";
}

<form asp-action="PerformLogin" asp-controller="Login">
	<div class="input-group has-validation mb-3">
		<span class="input-group-text">
			<i class="fa-solid fa-at"></i>
		</span>
		
		<div class="form-floating">
			<input type="text" asp-for="Username" name="Username" id="form-input-username" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Username)" required>
			<label for="form-input-username">@Html.DisplayNameFor(model => model.Username)</label>
		</div>
		
		<span asp-validation-for="Username"></span>
	</div>

	<div class="input-group has-validation mb-2">
		<span class="input-group-text">
			<i class="fa-solid fa-key"></i>
		</span>

		<div class="form-floating">
			<input type="password" asp-for="Password" name="password" id="form-input-password" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Password)" required>
			<label for="form-input-password">@Html.DisplayNameFor(model => model.Password)</label>
		</div>

		<span asp-validation-for="Password"></span>
	</div>

	<a class="btn btn-link btn-link-mini">Bạn quên mật khẩu?</a>

	<div class="form-actions mt-5">
		<a asp-action="RegisterPage" asp-controller="Login" class="btn btn-link">Tạo tài khoản</a>
		<button type="submit" class="btn btn-primary">Đăng nhập</button>
	</div>
</form>
